@import "variebles.scss";



.timeline-chart {
  background-color: $white;
    .axis path {
        fill: none;
        stroke: none;
    }
    line {
        stroke: black;
    }
    rect, rect.chart-bounds {
        fill: transparent;
    }
    rect.chart-bounds, rect.interval {
        &:hover {
            cursor: grab;
        }
        &:active {
            cursor: grabbing;
        }
    }
    .dot:hover {
        cursor: pointer;
    }
    .interval-text {
        pointer-events: none;
        
    }
    rect.interval.regimen,
    rect.interval {
        ry: 5;
        rx: 5;
        stroke: transparent;
    }
    rect.interval.radiation {
      fill: $lime;
    }
    rect.interval.surgery {
      fill: $accent-blue;
    }
    rect.interval.regimen {
      fill: $orange;
    }
    rect.interval.regimen-interval {
      fill: $red;
    }
 
    line {
      stroke: $light-gray;
    }
    text {
      font-size: 1.6rem;
    }

    .dot-label {
      fill: transparent;
    }
    text.interval-text,
    text.dot-label {
      fill: $white;
      font-size: 1.6rem;
    }
    line.vertical-marker.now {
      stroke: $red;
    }
  }

  rect.interval.blue-interval {
    fill: blue;
    stroke: blue;
  }
  
  circle.blue-dot {
    fill: blue;
  }
  
  /* Override d3tip */
  
  .d3-tip {
    border: 1px solid $light-gray;
    background: $white;
    color: $cota-blue;
  }
