$white:  rgb(255, 255, 255);
$transparent: rgba(255, 255, 255, 0);
$black:  rgb(0, 0, 0);
$red: rgb(218, 68, 83);
$orange: rgb(255, 165, 0);
$lime: rgb(55, 188, 155);

$text:   rgb(49, 61, 79);
$gray:   rgb(127, 143, 164);
$warm-gray: rgb(198, 200, 208);
$light-gray: rgb(223, 227, 233);
$accent-blue: rgb(74, 137, 220);

$lightest-gray: rgb(244, 247, 249);
$cota-blue: rgb(49, 61, 79);
$cota-purple: rgb(133, 98, 234);


* {
  box-sizing: border-box;
}

.html {
  font-size: 62.5%;
}